
@{ Layout = null;}

<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content="">

    <link rel="icon" href="~/img/core icon 1.png" />

    <link href="~/Content/custom.css" rel="stylesheet" />

    <title>Core portfolio</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    @*here is the required CSS reference for using syntax highlighter*@

    <link href="~/Scripts/SyntaxHighlighter/styles/shCore.css" rel="stylesheet" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shThemeDefault.css" rel="stylesheet" />
    <!-- Plugin CSS -->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <!-- Theme CSS -->
    <link href="~/Content/css/creative.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Juan Carlos Corea</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Expertise">Expertise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner header-color">
                <h1 id="aboutmeHeading">Welcome to my  Portfolio! My name is Juan Carlos Corea</h1>
                <hr>
                <p><span class="header-color">Fullstack .NET developer</span></p>

            </div>

        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <hr class="bg-dark">
                    <img src="~/img/image.png" class="img-response"/>
                    <br />
                    <br />
                    <p style="text-align:justify">
                        Coming from a background in Logistics and Supply Chain to graduating a coding bootcamp I could say that I am a forever student with a passion in creativity and innovation. My biggest accomplishment was being able to do several roles within the distribution center and gaining momentum towards management. Finding a new passion in software development I enjoy frontend development thru experimenting with color schemes and designs as well as UX/UI ideologies. Not only limited to frontend technology, I find great joy in problem solving and logic within the server side. 
                    </p>

                    @*leaving this as comments because i might need to learn this code*@
                    @*<a href="#Expertise" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>*@
                </div>
            </div>
        </div>
    </section>

    <section id="Expertise">
        <div class="container-flluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Expertise</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">

                        <i class="fa fa-4x fa-user text-primary sr-icons"></i>
                        <h3>SoftSkills</h3>
                        <p class="text-muted" style="text-align:justify">Strong work ethic and drive to learn and keep on pushing</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">

                        <i class="fa fa-4x fa-bug text-primary sr-icons"></i>
                        <h3>Debugging </h3>
                        <p class="text-muted" style="text-align:justify">Knowledgeable with in .NET debugging techniques.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cog text-primary sr-icons"></i>
                        <h3>FrontEnd</h3>
                        <p class="text-muted" style="text-align:justify">Using Bootstrap, Html5, CSS3, JavaScript and JQuery in the frontend.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-database text-primary sr-icons"></i>
                        <h3>BackEnd</h3>
                        <p class="text-muted" style="text-align:justify">Well informed in C#, ASP.NET, SQL, as well as WebAPI development.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
    <section class="no-padding" id="portfolio">
        <div class="container-flluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-flluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">

                    <a data-toggle="modal" data-target="#javascript" class="portfolio-box">
                        <img src="~/img/javascriptplanning.jpeg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Javascript
                                </div>
                                <div class="project-name">
                                    Excersises
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">


                    <a class="portfolio-box" href="https://coreablog.azurewebsites.net/" target="_blank">

                        <img src="~/img/picpic.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Escape to
                                </div>
                                <div class="project-name">
                                    Blog
                                </div>
                            </div>
                        </div>
                    </a>
                </div>



                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="http://coretracker.azurewebsites.net/" target="_blank">
                        <img src="~/img/bgtrack.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Escape to
                                </div>
                                <div class="project-name">
                                    Bug Tracker
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://financial20190313101456.azurewebsites.net/" target="_blank">
                        <img src="~/img/hand shake.jpeg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Financial
                                </div>
                                <div class="project-name">
                                    Portal
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://finportapi.azurewebsites.net/" target="_blank">
                        <img src="~/img/webapi.jpeg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Financial  Portal
                                </div>
                                <div class="project-name">
                                   Web API
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    @*<aside class="bg-dark">
            <div class="container text-center">
                <div class="call-to-action">
                    <h2>Free Download at Start Bootstrap!</h2>
                    <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
                </div>
            </div>
        </aside>*@

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Want to contact me? Please send me a message at one of my links below or at my business phone number.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>704-593-9125</p>
                </div>

                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">juancarloscorea95@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row " style="text-align:center">
                <div class="col-md-12" style="text-align:center">

                    <button style="text-align:center; font-size:24px" class="btn center-block resume" >Resume</button>
                    <br />
                    <br />
                    <div id="resume" class="column" style="text-align:center">
                        <embed src="~/Content/Juan Carlos Corea Final Resume 2019 (1).pdf" type="application/pdf" width="100%" height="800px" style="text-align:center" />
                    </div>

                </div>
            </div>
        </div>
        

        @*<div class="container">
            <div style="text-align:center">
                <h2>Reach Out</h2>
                <p>Leave your information below:</p>
            </div>
            <div class="row">
                <div class="column">
                    <img src="~/img/contactme1.jpeg" style="width:100%">
                </div>
                <br />
                <div class="column">

                    <form action="/action_page.php">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                        <label for="subject">Subject</label>
                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>*@
    </section>
    @*modal section*@

    <div class="container-fluid">
        <!-- Javascript Modal -->
        <div id="javascript" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    @*Modal Content*@
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">JavaScript Projects</h4>
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#Math">Math</a></li>
                            <li><a data-toggle="pill" href="#Facts">Facts</a></li>
                            <li><a data-toggle="pill" href="#FizzBuzz">FizzBuzz</a></li>
                            <li><a data-toggle="pill" href="#Palindrome">Palindrome</a></li>

                        </ul>
                    </div>

                    <div class="modal-body">
                        <div class="tab-content">
                            @*math section of modal*@
                            <div id="Math" class="tab-pane fade in active">
                                <div class="container-fluid">
                                    <h3>Arthmitics</h3>
                                    <p>Enter numbers below to find the sum, product, average, min, and max</p>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">  Enter Number 1: <input id="num1" type="number" /></div>
                                            <div class="row">  Enter Number 2: <input id="num2" type="number" /></div>
                                            <div class="row">  Enter Number 3: <input id="num3" type="number" /></div>
                                            <div class="row">  Enter Number 4: <input id="num4" type="number" /></div>
                                            <div class="row">  Enter Number 5: <input id="num5" type="number" /></div>
                                            <br />

                                        </div>



                                        <div class="col-md-6">

                                            <div class="row">
                                                <h4> <span id="resultHdr">Results</span> </h4>
                                                <p id="sum"></p>
                                                <p id="product"></p>
                                                <p id="average"></p>
                                                <p id="max"></p>
                                                <p id="min"></p>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row ">
                                    <div class="col-md-6">
                                        <button id="btnNumber" type="button" class="btn btn-success">Results</button>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6 pull-left">
                                        <button id="btnNumber2" type="button" class="btn btn-danger">Clear Data</button>
                                    </div>
                                </div>


                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="showcd1" class="btn btn-primary">Show Code</button>
                                        <div id="mthcode">
                                            <pre class="brush:js">
                                                        $("#resultHdr").hide();
                                                        $("#fachdr").hide();
            
                                                        //How Do I Use jQuery to tell the button what to do when it is clicked--//


                                                        $("#btnNumber").click(function () {

                                                            //How Do I Use jQuery to tell the button what to do when it is clicked--//
                                                            var num1 = parseInt($("#num1").val());
                                                            var num2 = parseInt($("#num2").val());
                                                            var num3 = parseInt($("#num3").val());
                                                            var num4 = parseInt($("#num4").val());
                                                            var num5 = parseInt($("#num5").val());


                                                            $("#resultHdr").show();

                                                            var sum = (num1 + num2 + num3 + num4 + num5);
                                                            //Calculate the Product
                                                            var product = (num1 * num2 * num3 * num4 * num5);
                                                            //Calculate the Aaverage
                                                            var average = sum / 5;
                                                            //Determine the Largest
                                                            var max = Math.max(num1, num2, num3, num4, num5);
                                                            //Determine the Smallest
                                                            var min = Math.min(num1, num2, num3, num4, num5);

                                                            $("#sum").text("the sum is equal to " + sum);
                                                            $("#product").text("the product is equal to " + product);
                                                            $("#average").text("the average is equal to " + average);
                                                            $("#max").text("the maximum number is equal to " + max);
                                                            $("#min").text("the minimum number is equal to " + min);

                                                        });


                                                        $("#btnNumber2").click(function () {
                                                            $("#num1,#num2,#num3,#num4,#num5").val("");

                                                            $("#sum,#product,#average,#max,#min").html("");
                                                            $("#resultHdr").hide();
                                                        });

                                            </pre>
                                        </div>
                                    </div>
                                </div>
                                <br />

                            </div>

                            @*factorial section of modal*@
                            <div id="Facts" class="tab-pane fade">
                                <div class="container-fluid">
                                    <h3>Factorials</h3>
                                    <p> What is a Factorial? The product of an integer and all the integers below it. Enter a number below 170</p>

                                    <div class="col-md-6">
                                        <div class="row">Enter Numbers: <input id="n1" type="number" /></div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <button id="facbtn" type="button" class="btn btn-success">Results</button>
                                                </div>
                                            </div>

                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <button id="facclear" type="button" class="btn btn-danger">Clear Data</button>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <button id="showcd2" class="btn btn-primary">Show Code</button>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                    </div>

                                    <div class="col-md-4">
                                        <div class="row">
                                            <h4> <span id="fachdr"></span> </h4>
                                            <p id="facresults"></p>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-pull-12">
                                            <div id="factcode">
                                                <pre class="brush:js">
                                                        $("#facbtn").click(function () {
                                                        var n1 = parseInt($("#n1").val());
                                                        var factorial = 1;
                                                        while (n1 > 1) {
                                                            factorial *= n1
                                                            n1--;
                                                        }
                                                        $("#facresults").text("results for your number is: " + factorial)
            
                                                        });
                                                    </pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                            </div>
                            @*fizzbuzz section of modal*@
                            <div id="FizzBuzz" class="tab-pane fade">
                                <div class="container-fluid">
                                    <h3>Fizz Buzz</h3>
                                    <p>Enter a number in the input boxes to find out the mod of that number </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">Enter Number 1: <input id="fizz" type="number" /></div>
                                            <div class="row">Enter Number 1: <input id="buzz" type="number" /></div>
                                            <br />

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button id="fbbutton" type="button" class="btn btn-success">Results</button>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button id="fbclear" type="button" class="btn btn-danger">Clear Data</button>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button id="showcd3" class="btn btn-primary">Show Code</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h4> <span id="fbhdr">Results</span></h4>
                                            <p id="fbresults"></p>
                                        </div>
                                    </div>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="fbcode">
                                            <pre class="brush:js">
                                                       //Collect user data
                                                    var num1 = parseInt($("#fizz").val());
                                                    var num2 = parseInt($("#buzz").val());
                                                    var myOutput = "";

                                                    //Write a loop that goes from 1 to 100
                                                    for (var loop = 1; loop <= 100; loop++) {
                                                        //Record my modulus operation values

                                                        //loop counter = 15
                                                        var fizz = loop % num1; 
                                                        var buzz = loop % num2; 

                                                        //Create a variable that will hold a string


                                                        //Check for Fizz
                                                        if (fizz == 0 && buzz == 0) {
                                                            myOutput += "<span class='fizzbuzz'>Fizz-Buzz</span>, ";
                                                        }
                                                        else if (fizz == 0) {
                                                            myOutput += "<span class='fizz'>Fizz</span>, ";
                                                        }
                                                        else if (buzz == 0) {
                                                            myOutput += "<span class='buzz'>Buzz</span>, ";
                                                        }
                                                        else {
                                                            myOutput += loop + ", ";
                                                        }
                                                    }

                                                    //Write out results
                                                    $("#fbresults").html(myOutput);
                                                    </pre>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            @*palindrome section of modal*@
                            <div id="Palindrome" class="tab-pane fade">

                                <div class="container-fluid">
                                    <h3>Palindrome</h3>
                                    <p>
                                        pal·in·drome
                                        enter a word, phrase, or sequence that reads the same backward as forward, e.g., madam
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            Enter Word: <input id="pal1" type="text" />
                                        </div>
                                        <br />
                                        <div class="col-md-6">

                                            <h4> <span id="palhdr">Results</span></h4>
                                            <p id="palresults"></p>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button id="Palenter" type="button" class="btn btn-success">Results</button>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button id="palclr" type="button" class="btn btn-danger">Clear Data</button>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button id="showcd4" class="btn btn-primary">Show Code</button>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-md-12">

                                        <div id="palcode">
                                            <pre class="brush:js">
                                                        $("#Palenter").click(function () {
                                                            $("#palhdr").show();
                
                                                            //the jquery is being used as a var named pally
                                                            var pally = $("#pal1").val();
                                                            //
                                                            var output = "";
                                                            var arr = pally.split("");
                                                            var new_arr = arr.reverse();
                                                            var rewrd = new_arr.join("")
                                                            if (pally == rewrd) {
                                                                output += "it works"
                                                            }
                                                            else {
                                                                output += "not the same"
                                                            }
                                                            $("#palresults").html(output)
                                                        });
                
                                                        $("#palclr").click(function () {
                                                            $("#pal1").val("");
                                                            $("#palresults").html("");
                                                            $("#palhdr").hide();
                                                        });
                                                    </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>


                </div>





            </div>
        </div>
        <!-- jQuery -->
        @*<script src="vendor/jquery/jquery.min.js"></script>*@
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        @*<script src="vendor/bootstrap/js/bootstrap.min.js"></script>*@
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="~/Scripts/scrollreveal.min.js"></script>
        <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
        <!-- Theme JavaScript -->
        @*here is the syntax highlighter j"*@
        <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
        @*<script src="~/Scripts/creative.min.js"></script>*@
        <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushJScript.js"></script>
        <script>
                SyntaxHighlighter.all();





            $("#resume").hide();
            $(".resume").click(function () {
                $("#resume").toggle();
            });


                $("#mthcode").hide();
                $("#showcd1").click(function () {
                    $("#mthcode").toggle();
                });



                $("#resultHdr").hide();
                $("#fachdr").hide();

                //How Do I Use jQuery to tell the button what to do when it is clicked--//


                $("#btnNumber").click(function () {

                    //How Do I Use jQuery to tell the button what to do when it is clicked--//
                    var num1 = parseInt($("#num1").val());
                    var num2 = parseInt($("#num2").val());
                    var num3 = parseInt($("#num3").val());
                    var num4 = parseInt($("#num4").val());
                    var num5 = parseInt($("#num5").val());


                    //$("#resultHdr").show();

                    var sum = (num1 + num2 + num3 + num4 + num5);
                    //Calculate the Product
                    var product = (num1 * num2 * num3 * num4 * num5);
                    //Calculate the Aaverage
                    var average = sum / 5;
                    //Determine the Largest
                    var max = Math.max(num1, num2, num3, num4, num5);
                    //Determine the Smallest
                    var min = Math.min(num1, num2, num3, num4, num5);

                    $("#sum").text("the sum is equal to " + sum);
                    $("#product").text("the product is equal to " + product);
                    $("#average").text("the average is equal to " + average);
                    $("#max").text("the maximum number is equal to " + max);
                    $("#min").text("the minimum number is equal to " + min);

                });


                $("#btnNumber2").click(function () {
                    $("#num1,#num2,#num3,#num4,#num5").val("");

                    $("#sum,#product,#average,#max,#min").html("");
                    //$("#resultHdr").hide();
                });

               //factorial modal section

                $("#factcode").hide();
                $("#showcd2").click(function () {
                    $("#factcode").toggle();
                });

                 //attempt to do the factorial equation

                $("#facbtn").click(function () {
                    var n1 = parseInt($("#n1").val());
                    var factorial = 1;
                    while (n1 > 1) {
                        factorial *= n1
                        n1--;
                    }
                    $("#facresults").text("Results for your Number is: " + factorial)
                    $("#fachdr").show();
                 });

                $("#facclear").click(function () {


                    $("#n1").val("");
                    $("#facresults").text("");
                    $("#fachdr").hide("");


                });

                //end of factorial section


                //fizz buzz section
                $("#fbhdr").hide();
                $("#fbcode").hide();
                $("#showcd3").click(function () {
                    $("#fbcode").toggle();
                });

                $("#fbclear").click(function () {
                    $("#fbresults").html("");
                    $("#fizz").val("");
                    $("#buzz").val("");

                });

               //this code is what i will use to take off the trailing comma as soon as i have time to figure it out
               //var last = myOutput[myOutput.length -1]


                $("#fbbutton").click(function () {
                    //Collect user data
                    var num1 = parseInt($("#fizz").val());
                    var num2 = parseInt($("#buzz").val());
                    var myOutput = "";
                                    

                    //Write a loop that goes from 1 to 100
                    for (var loop = 1; loop <= 100; loop++) {
                        //Record my modulus operation values

                        //loop counter = 15
                        var fizz = loop % num1;
                        var buzz = loop % num2;

                        //Create a variable that will hold a string
                    

                        //Check for Fizz
                        if (fizz == 0 && buzz == 0) {
                            myOutput += "<span class='fizzbuzz'>Fizz-Buzz</span>, ";
                        }
                        else if (fizz == 0) {
                            myOutput += "<span class='fizz'>Fizz</span>, ";
                        }
                        else if (buzz == 0) {
                            myOutput += "<span class='buzz'>Buzz</span>, ";
                        }
                        else {
                            myOutput += loop + ", ";
                        }
                        
                    }


                    //Write out results
                    //myOutput.substring(str.length , str.length);
                    $("#fbresults").html(myOutput);



                });

                //palindrome excercise
                $("#palrsesults").hide();
                $("#palhdr").hide();
                $("#palcode").hide();
                $("#showcd4").click(function () {
                    $("#palcode").toggle();
                });

                //reverse array
                $("#Palenter").click(function () {
                    $("#palhdr").show();

                    //the jquery is being used as a var named pally
                    var pally = $("#pal1").val();
                    //
                    var output = "";
                    var arr = pally.split("");
                    var new_arr = arr.reverse();
                    var rewrd = new_arr.join("")
                    if (pally == rewrd) {
                        output += "it works"
                    }
                    else {
                        output += "not the same"
                    }
                    $("#palresults").html(output)
                });

                $("#palclr").click(function () {
                    $("#pal1").val("");
                    $("#palresults").html("");
                    $("#palhdr").hide();
                });











            </script>


</body>

</html>
