@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content="">

    <link rel="icon" href="~/img/core icon 1.png" />
          

    <title>Core portfolio</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    @*here is the required CSS reference for using syntax highlighter*@
    
    <link href="~/Scripts/SyntaxHighlighter/styles/shCore.css" rel="stylesheet" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shThemeDefault.css" rel="stylesheet" />
    <!-- Plugin CSS -->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <!-- Theme CSS -->
    <link href="~/Content/css/creative.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Juan Carlos Corea</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#Expertise">Expertise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="aboutmeHeading">Welcome to my  Portfolio! My name is Juan Carlos Corea</h1>
                <hr>
                <p>Aspiring fullstack .NET developer</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">About Me</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <hr class="bg-dark">
                    <p class="text-faded">
                        Currently working in the logistics and supply chain industry, and switching over to a more full-filling industry. With no technical background, I jumped headfirst into a coding bootcamp to gain a further understanding of a career where I could enjoy my work and where others could enjoy it as well. Having a passion for coding and programming, enjoying the behind the scene of web developing, the problem solving, gives a sense of purposeness.

                    </p>

                    @*leaving this as comments because i might need to learn this code*@
                    @*<a href="#Expertise" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>*@
                </div>
            </div>
        </div>
    </section>

    <section id="Expertise">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Expertise</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Javascript</h3>
                        <p class="text-muted">The popular programming language, javascript, is used to read and interpret and execute in the Web browser. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Html and CSS</h3>
                        <p class="text-muted">CSS and HTML is used in my fullstack to structure and present my web content. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Bootstrap</h3>
                        <p class="text-muted">Learning Bootstrap as a front-end development tool to create better web experiences.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>.NET </h3>
                        <p class="text-muted">.NET is a IDE framework used to create web based applications. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">

                    <a data-toggle="modal" data-target="#javascript" class="portfolio-box">
                        <img src="~/img/javascript.fist.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Javascript
                                </div>
                                <div class="project-name">
                                    excersises
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            
                    <div class="col-lg-4 col-sm-6">


                        <a data-toggle="modal" data-target="#Blog" class="portfolio-box">

                            <img src="~/img/blog icon.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Escape to
                                    </div>
                                    <div class="project-name">
                                        Blog
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                
                
                           
                <div class="col-lg-4 col-sm-6">
                    <a data-toggle="modal" data-target="#ERROR" class="portfolio-box">
                     <img src="~/img/bugtracker.1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Bug
                                </div>
                                <div class="project-name">
                                    Tracker
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

              
            </div>
        </div>
    </section>

    @*<aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Download at Start Bootstrap!</h2>
                <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>
            </div>
        </div>
    </aside>*@

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Want to contact me? Please send me a message at one of my links below or at my business phone number.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>704-593-9125</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">juancarloscorea95@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
    @*modal section*@
   
    <div class="container-fluid">
        <!-- Javascript Modal -->
        <div id="javascript" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    @*Modal Content*@
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">JavaScript Projects</h4>
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#Arithmetics">Arithmetics</a></li>
                            <li><a data-toggle="pill" href="#Facts">Facts</a></li>
                            <li><a data-toggle="pill" href="#FizzBuzz">FizzBuzz</a></li>
                            <li><a data-toggle="pill" href="#Palindrome">Palindrome</a></li>
                           
                        </ul>
                    </div>

                    <div class="modal-body">
                        <div class="tab-content">

                            <div id="Arithmetics" class="tab-pane fade in active">
                                <div class="container-fluid">
                                    <h3>Arithmetic Made Easy</h3>

                                    <div class="col-md-6">
                                        <div class="row">  Enter Number 1: <input id="num1" type="number" /></div>
                                        <div class="row">  Enter Number 2: <input id="num2" type="number" /></div>
                                        <div class="row">  Enter Number 3: <input id="num3" type="number" /></div>
                                        <div class="row">  Enter Number 4: <input id="num4" type="number" /></div>
                                        <div class="row">  Enter Number 5: <input id="num5" type="number" /></div>

                                        <div class="row">
                                            <button id="btnNumber" type="button" class="btn btn-success">Results</button>
                                        </div>

                                        <div class="row">
                                            <button id="btnNumber2" type="button" class="btn btn-danger">Clear Data</button>
                                        </div>


                                    </div>
                                    @*this is where my results will be showing*@
                                    <div class="col-md-4">

                                        <div class="row">
                                            <h4> <span id="resultHdr">Results</span> </h4>
                                            <p id="sum"></p>
                                            <p id="product"></p>
                                            <p id="average"></p>
                                            <p id="max"></p>
                                            <p id="min"></p>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <button id="showcd1" class="btn btn-primary">show code</button>
                                            <div id="mthcode">
                                                <pre class="brush:js">
            $("#resultHdr").hide();
            $("#fachdr").hide();
            
            //How Do I Use jQuery to tell the button what to do when it is clicked--//


            $("#btnNumber").click(function () {

                //How Do I Use jQuery to tell the button what to do when it is clicked--//
                var num1 = parseInt($("#num1").val());
                var num2 = parseInt($("#num2").val());
                var num3 = parseInt($("#num3").val());
                var num4 = parseInt($("#num4").val());
                var num5 = parseInt($("#num5").val());


                $("#resultHdr").show();

                var sum = (num1 + num2 + num3 + num4 + num5);
                //Calculate the Product
                var product = (num1 * num2 * num3 * num4 * num5);
                //Calculate the Aaverage
                var average = sum / 5;
                //Determine the Largest
                var max = Math.max(num1, num2, num3, num4, num5);
                //Determine the Smallest
                var min = Math.min(num1, num2, num3, num4, num5);

                $("#sum").text("the sum is equal to " + sum);
                $("#product").text("the product is equal to " + product);
                $("#average").text("the average is equal to " + average);
                $("#max").text("the maximum number is equal to " + max);
                $("#min").text("the minimum number is equal to " + min);

            });


            $("#btnNumber2").click(function () {
                $("#num1,#num2,#num3,#num4,#num5").val("");

                $("#sum,#product,#average,#max,#min").html("");
                $("#resultHdr").hide();
            });

            </pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="Facts" class="tab-pane fade">
                                <h3>Factors</h3>
                                <div class="container-fluid">
                                    <div class="col-md-6">
                                        <div class="row">Enter Numbers: <input id="n1" type="number" /></div>
                                        <div class="row">
                                            <button id="facbtn" type="button" class="btn btn-success">Results</button>
                                        </div>

                                        <div class="row">
                                            <button id="facclear" type="button" class="btn btn-danger">Clear Data</button>
                                        </div>



                                    </div>
                                    <div class="cold-mod-6">
                                        <div class="row">
                                            <h4> <span id="fachdr">Show Results Here</span> </h4>
                                            <p id="facresults"></p>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div id="FizzBuzz" class="tab-pane fade">
                                <h3>Modules</h3>
                                <div class="row">
                                    <button id="facbtn" type="button" class="btn btn-success">Results</button>
                                </div>

                                <p id="results"> </p>
                            </div>
                            <div id="Palindrome" class="tab-pane fade">
                                <h3>Palindrome</h3>
                                <p>
                                    pal·in·drome
                                    enter a word, phrase, or sequence that reads the same backward as forward, e.g., madam
                                </p>
                            </div>
                          
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>








        </div>
    </div>
        <!-- jQuery -->
        @*<script src="vendor/jquery/jquery.min.js"></script>*@
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        @*<script src="vendor/bootstrap/js/bootstrap.min.js"></script>*@
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="~/Scripts/scrollreveal.min.js"></script>
        <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
        <!-- Theme JavaScript -->
        @*here is the syntax highlighter j"*@
        <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
        @*<script src="~/Scripts/creative.min.js"></script>*@
        <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushJScript.js"></script>
        <script>
            SyntaxHighlighter.all();

            







            $("#mthcode").hide();
            $("#showcd1").click(function () {
                $("#mthcode").toggle();
            });
        


            


            
            $("#resultHdr").hide();
            $("#fachdr").hide();
            
            //How Do I Use jQuery to tell the button what to do when it is clicked--//


            $("#btnNumber").click(function () {

                //How Do I Use jQuery to tell the button what to do when it is clicked--//
                var num1 = parseInt($("#num1").val());
                var num2 = parseInt($("#num2").val());
                var num3 = parseInt($("#num3").val());
                var num4 = parseInt($("#num4").val());
                var num5 = parseInt($("#num5").val());


                $("#resultHdr").show();

                var sum = (num1 + num2 + num3 + num4 + num5);
                //Calculate the Product
                var product = (num1 * num2 * num3 * num4 * num5);
                //Calculate the Aaverage
                var average = sum / 5;
                //Determine the Largest
                var max = Math.max(num1, num2, num3, num4, num5);
                //Determine the Smallest
                var min = Math.min(num1, num2, num3, num4, num5);

                $("#sum").text("the sum is equal to " + sum);
                $("#product").text("the product is equal to " + product);
                $("#average").text("the average is equal to " + average);
                $("#max").text("the maximum number is equal to " + max);
                $("#min").text("the minimum number is equal to " + min);

            });


            $("#btnNumber2").click(function () {
                $("#num1,#num2,#num3,#num4,#num5").val("");

                $("#sum,#product,#average,#max,#min").html("");
                $("#resultHdr").hide();
            });

           
            
           

             //attempt to do the factorial equation

            $("#facbtn").click(function () {
                var n1 = parseInt($("#n1").val());
                var factorial = 1;
                while (n1 > 1) {
                    factorial *= n1
                    n1--;
                }
                $("#facresults").text("results for your number is: " + factorial)
            
             });

            
           
        </script>


    </body>

</html>
