.img-responsive{
    max-height: 334px;
    min-height: 334px;
    min-width: 504.2px;
    max-width: 504.2px;
}

.header-color{
    color: #000000
}

* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

